<mat-sidenav-container>
  <mat-sidenav mode="side" position="end" #chSidenav class="sidenav-custom">
    <div class="container">
      <a (click)="showSnippet('snippet1', $event)" href="#">
        Snippet-5: HTML template for sample superhero profile
      </a>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="channel-content">
    <mat-card class="card" *ngIf="snippet===1">
      <mat-card-header>
        <mat-card-title>
          Result
          <hr>
        </mat-card-title>
      </mat-card-header>
      <h1>Spiderman</h1>
      <p>
        Lives in New York. He is a friendly neighbourhood superhero.
      </p>
      <div>
        <strong>Superpowers</strong>
        <li>
          Spiderman can shoot web
        </li>
        <li>
          He can fly with the help of the web.
        </li>
        <li>
          He is strong
        </li>
      </div>
    </mat-card>

    <mat-card class="card" *ngIf="snippet===1">
      <mat-card-header class="card-header">
        <mat-card-title>
          Code Snippet
          <hr>
        </mat-card-title>
      </mat-card-header>
      <pre>
  &lt;h1&gt;Spiderman&lt;/h1&gt;
  &lt;p&gt;
      Lives in New York. He is a friendly neighbourhood superhero.
  &lt;/p&gt;
  &lt;div&gt;
      &lt;strong&gt;Superpowers&lt;/strong&gt;
      &lt;li&gt;
          Spiderman can shoot web
      &lt;/li&gt;
      &lt;li&gt;
          He can fly with the help of the web.
      &lt;/li&gt;
      &lt;li&gt;
          He is strong
      &lt;/li&gt;
  &lt;/div&gt;
      </pre>
      </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>