<div>
  <!-- <strong>Appearance: Legacy</strong> -->
  <mat-form-field appearance="legacy">
    <mat-label>Superhero Name</mat-label>
    <input type="text" matInput placeholder="A name to be remembered" />
    <mat-hint align="end">Enter name</mat-hint>
  </mat-form-field>
</div>

<div>
  <!-- <strong>Appearance: Standard</strong> -->
  <mat-form-field floatLabel="float" appearance="standard">
    <mat-label>Superhero Name</mat-label>
    <!-- <span style="margin-right: 5px" matPrefix>$</span> -->
    <input type="text" required matInput placeholder="A name to be remembered" />
    <!-- <mat-hint>Enter name</mat-hint> -->
  </mat-form-field>
</div>

<div>
  <mat-form-field appearance="fill">
    <mat-label>Superhero Name</mat-label>
    <input type="text" matInput  placeholder="A name to be remembered"/>
    <mat-hint>Enter name</mat-hint>
  </mat-form-field>
</div>

<div>
  <!-- Appearance: Outline -->
  <mat-form-field appearance="outline">
    <mat-label>Superhero Name</mat-label>
    <input type="text" matInput required placeholder="A name to be remembered"/>
    <mat-hint>Enter name</mat-hint>
  </mat-form-field>
</div>

<!-- <div>
    <mat-form-field appearance="outline">
      <mat-label>Superhero Name</mat-label>
      <input type="textarea" matInput  placeholder="A name to be remembered"/>
      <mat-hint>Enter name</mat-hint>
    </mat-form-field>
  </div> -->