<app-superhero-toolbar>
    {{title}}
    
    <a routerLink="/create-hero">
        Create 
    </a>

    <a routerLink="/heroes" [queryParams]="{sortOrder: 'descending'}">
    <!-- <a (click)="heroListDescending()"> -->

        List (Order Descending)
    </a>
    <a routerLink="/heroes" [queryParams]="{sortOrder: 'ascending'}">
        List (Order Ascending)
    </a>
    <!-- <a (click)="navigateToCreate()">
            Create 
    </a> -->

</app-superhero-toolbar>

<!-- <app-create-superhero-reactive-form></app-create-superhero-reactive-form> -->

<!-- <app-create-superhero></app-create-superhero> -->

<!-- Move superhero from <input type="text" /> to <input type="text" /> &nbsp; &nbsp; <button (click)="moveSuperhero()">Go</button> -->


<!-- <app-superhero-profile></app-superhero-profile> -->

<router-outlet></router-outlet>
