<app-superhero-toolbar (menuClick)="toggleSidenav($event)">


    <!-- <a (click)="navigateToCreate()">
            Create 
    </a> -->

</app-superhero-toolbar>
<!-- <div class="container-padding">
</div> -->
<!-- <app-tab-sample>  </app-tab-sample> -->
<!-- <app-superhero-sidenav-container>  -->
    <!-- <app-superhero-sidenav #sidenav></app-superhero-sidenav> -->
    <!-- <app-superhero-sidenav #sidenav position="start"></app-superhero-sidenav>  -->
    <!-- <app-superhero-sidenav-content> -->
        <router-outlet></router-outlet>
    <!-- </app-superhero-sidenav-content> -->
<!-- </app-superhero-sidenav-container> -->
<!-- <app-create-superhero-reactive-form></app-create-superhero-reactive-form> -->

<!-- <app-create-superhero></app-create-superhero> -->

<!-- Move superhero from <input type="text" /> to <input type="text" /> &nbsp; &nbsp; <button (click)="moveSuperhero()">Go</button> -->


<!-- <app-superhero-profile></app-superhero-profile> -->

