/* mat-card{    
    padding: 10px 35px 35px 30px;
    margin: 10px 35px 35px 30px;
    width: 35%;
} */

mat-card-footer{
    font-style: italic;
}

.example-header-image {
    background-image: url('/assets/spiderman.jpg');
    background-size: cover;
  }